
.sec_4{
    overflow: visible;
    height: 20vh;
    background-color: #00071F;
}

.sec_4 div{ 
    align-self: center;
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.sec_4 p{
    font-size: 32px;

}

.sec_4 span{
    color: #FC0236;
    font-weight: 700;
}

.project_container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.projects{
    height: 100%;
    width: 40%;
    padding: 5px;
}

.projects h1{
    font-weight: 700;
    font-size: 32px;
}
.projects p{
    font-size: 26px;
}
.projects a{
    background-color: #FC0236;
    cursor: pointer;
    width: 280px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}
.projects a:hover{
    background-color: #ff3d64;
}
.projects a:active{
    background-color: #d8002b;
}
.project_container img{
    width: 60%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1200px){
    .project_container{
        width: 90%;
        height: 60vh;
    }
}
@media screen and (max-width: 1000px){
    .sec_4 div{ 
        width: 70%;
    }
}
@media screen and (max-width: 912px){
    .sec_4 div{ 
        width: 90%;
    }
    .project_container{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects h1{
        font-size: 28px;
    }
    .projects p{
        font-size: 22px;
    }
    .projects a{
        font-size: 18px;
    }
    .sec_4 p{
        font-size: 28px;
    
    }
    .project_container img{
        width: 80%;
        height: fit-content;
    }
    
    .projects{
        height: 30%;
        width: 80%;
    }
}
@media screen and (max-width: 700px){
    .project_container img{
        width: 90%;
        height: 60%;
    }
    
    .projects{
        height: 30%;
        width: 90%;
    }
  
    
}
@media screen and (max-width: 600px){
    .project_container img{
        width: 98%;
        height: fit-content;
    }
    .sec_4 p{
        font-size: 24px;
    }
}


@media screen and (max-width: 500px){
    .project_container{
        height: 70vh;
    }
    .projects{
        height: 40%;
        width: 96%;
    }
    .projects h1{
        font-size: 24px;
    }
    .projects p{
        font-size: 18px;
    }
    .projects a{
        font-size: 14px;
    }
}
